
.hero-section {
    display:flex;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #5ea96e, #d7efd8);
    padding: 80px 0;
}

.hero-title {
    font-size: 2.8rem;
    font-weight: 700;
}

.highlight {
    color: #2d8a3f;
}

.btn-green {
    background-color: #2d8a3f;
    color: white;
}

.btn-green:hover {
    background-color: #256f34;
    color: white;
}

.hero-img img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
}
.impact-section {
    display:flex;
    align-items: center;
    background: linear-gradient(#f5faf5, #ffffff); /* light greenish background */
    height: 100vh;
}

.impact-card {
    transition: 0.2s ease;
}

.impact-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}
.full-height {
    background-color: f5faf5;
    padding-top: 200px;
    justify-content: center;
    min-height: 130vh;
    display: flex;
    align-items: flex-start;
}

.icon-box {
    width: 100%;
    height: 250px;
    object-fit: contain;
}

