.navbar-custom {
    background-color: #5FA96E; /* green background */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5); /* line shadow separator */
    z-index: 1030;
}
.nav-logo {
    height: 45px;
    width: auto;
}
.nav-link {
    color: white !important;
    font-weight: 500;
    margin: 0 10px;
}
.footer-custom {
    background: white;
}
